.shipping-form {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
}

.shipping-form input {
        display: block;
        margin-top: 25px;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        width: 300px;
}

.error {
        color: red;
}