nav {
        background: black;
        line-height: 40px;
        text-align: center;
}

nav a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin-right: 25px;
        padding: 9px 7px;
}

nav a:hover {
        color: white;
        background-color: lightgray;
}

.activeStyle {
        font-weight: bold;
        color: gold;
}